In [1]:
import sqlalchemy
from sqlalchemy import create_engine
engine_file = create_engine('sqlite:///nauka_7.sqlite', echo=True)
from sqlalchemy import Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine_file)
session = Session()
from sqlalchemy import ForeignKey
from sqlalchemy.orm import relationship

In [2]:
class Car_Factory(Base):
    __tablename__ = 'car_factory'
    __table_args__ = {'extend_existing':True}
    
    id = Column(Integer, primary_key=True)
    brand = Column(String, nullable=False)
    brand_1 = relationship("Cars", back_populates='car_1')
    
    def __repr__(self):
        return "{cl} with: {br}".format(cl = self.__class__, br = self.brand)
    
class Cars(Base):
    __tablename__ = 'cars'
    __table_args__ = {'extend_existing':True}
    
    id = Column(Integer, primary_key=True)
    power_engine = Column(Integer)
    color = Column(String)
    model = Column(String)
    car_factory_id = Column(Integer, ForeignKey('car_factory.id'))
    car_1 = relationship("Car_Factory", back_populates='brand_1')
    
    def __repr__(self):
        return "{class_self} {model} with: engine {engine}KM; {clr}.".format(
        class_self = self.__class__,
        model = self.model,
        engine = self.power_engine,
        clr = self.color)

In [3]:
Base.metadata.create_all(engine_file)

2018-11-06 20:00:38,929 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-11-06 20:00:38,954 INFO sqlalchemy.engine.base.Engine ()
2018-11-06 20:00:38,961 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-11-06 20:00:38,963 INFO sqlalchemy.engine.base.Engine ()
2018-11-06 20:00:38,968 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("car_factory")
2018-11-06 20:00:38,971 INFO sqlalchemy.engine.base.Engine ()
2018-11-06 20:00:38,976 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("cars")
2018-11-06 20:00:38,979 INFO sqlalchemy.engine.base.Engine ()
2018-11-06 20:00:38,982 INFO sqlalchemy.engine.base.Engine
CREATE TABLE car_factory (
	id INTEGER NOT NULL,
	brand VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2018-11-06 20:00:38,985 INFO sqlalchemy.engine.base.Engine ()
2018-11-06 20:00:39,008 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-06 20:00:39,011 INFO sqlalchemy.engine.base.Engine
CREATE TABLE cars (
	id INTEGER NOT NULL,
	power_engine INTEGER,
	color VARCHAR,
	model VARCHAR,
	car_factory_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(car_factory_id) REFERENCES car_factory (id)
)


2018-11-06 20:00:39,013 INFO sqlalchemy.engine.base.Engine ()
2018-11-06 20:00:39,033 INFO sqlalchemy.engine.base.Engine COMMIT

In [4]:
fact = Car_Factory(brand='Volkswagen')

In [5]:
sam1 = Cars(power_engine=89, color='Red', model='Jetta', car_1=fact)
sam2 = Cars(power_engine=95, color='Black', model='Golf', car_1=fact)
sam3 = Cars(power_engine=67, color='White', model='Polo', car_1=fact)
sam4 = Cars(power_engine=80, color='Red', model='Bora', car_1=fact)

In [6]:
session.add_all([fact, sam1, sam2, sam3, sam4])

In [7]:
session.commit()

2018-11-06 20:01:40,971 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-06 20:01:40,974 INFO sqlalchemy.engine.base.Engine INSERT INTO car_factory (brand) VALUES (?)
2018-11-06 20:01:40,976 INFO sqlalchemy.engine.base.Engine ('Volkswagen',)
2018-11-06 20:01:40,980 INFO sqlalchemy.engine.base.Engine INSERT INTO cars (power_engine, color, model, car_factory_id) VALUES (?, ?, ?, ?)
2018-11-06 20:01:40,983 INFO sqlalchemy.engine.base.Engine (89, 'Red', 'Jetta', 1)
2018-11-06 20:01:40,985 INFO sqlalchemy.engine.base.Engine INSERT INTO cars (power_engine, color, model, car_factory_id) VALUES (?, ?, ?, ?)
2018-11-06 20:01:40,988 INFO sqlalchemy.engine.base.Engine (95, 'Black', 'Golf', 1)
2018-11-06 20:01:40,990 INFO sqlalchemy.engine.base.Engine INSERT INTO cars (power_engine, color, model, car_factory_id) VALUES (?, ?, ?, ?)
2018-11-06 20:01:40,996 INFO sqlalchemy.engine.base.Engine (67, 'White', 'Polo', 1)
2018-11-06 20:01:40,998 INFO sqlalchemy.engine.base.Engine INSERT INTO cars (power_engine, color, model, car_factory_id) VALUES (?, ?, ?, ?)
2018-11-06 20:01:41,000 INFO sqlalchemy.engine.base.Engine (80, 'Red', 'Bora', 1)
2018-11-06 20:01:41,002 INFO sqlalchemy.engine.base.Engine COMMIT

In [8]:
repr(sam1)

2018-11-06 20:01:53,108 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-06 20:01:53,131 INFO sqlalchemy.engine.base.Engine SELECT cars.id AS cars_id, cars.power_engine AS cars_power_engine, cars.color AS cars_color, cars.model AS cars_model, cars.car_factory_id AS cars_car_factory_id
FROM cars
WHERE cars.id = ?
2018-11-06 20:01:53,138 INFO sqlalchemy.engine.base.Engine (1,)

"<class '__main__.Cars'> Jetta with: engine 89KM; Red."

In [10]:
repr(fact)

2018-11-06 20:02:35,419 INFO sqlalchemy.engine.base.Engine SELECT car_factory.id AS car_factory_id, car_factory.brand AS car_factory_brand
FROM car_factory
WHERE car_factory.id = ?
2018-11-06 20:02:35,431 INFO sqlalchemy.engine.base.Engine (1,)

"<class '__main__.Car_Factory'> with: Volkswagen"