In [132]:
class Rod:
    
    population = 0
    def __init__(self, name, surname, age, birth_date, birth_place, father, weight, height, sex=None):
        self.name = name
        self.surname = surname
        self. age = age
        self.birth_date = birth_date
        self.birth_place = birth_place
        self.father = father
        self.sex = sex
        self.weight = weight
        self.height = height
        Rod.population +=1
    def kto_ty(self):
        if self.sex == None:
            print('Hej, jestem {name} {surname}, mam {age} lat. Urodziem sie {birth_date} w {birth_place}'.format(
            name = self.name,
            surname = self.surname,
            age = self.age,
            birth_date = self.birth_date,
            birth_place =  self.birth_place))
        else:
            print('Hej, jestem {name} {surname}, mam {age} lat. Urodzilam sie {birth_date} w {birth_place}'.format(
            name = self.name,
            surname = self.surname,
            age = self.age,
            birth_date = self.birth_date,
            birth_place =  self.birth_place))
    
    def check_bmi(self):
        bmi = round((self.weight/(self.height/100) ** 2), 1)
        
        if bmi <= 18.5:
            status = 'niedowaga'
        elif bmi > 18.5 and bmi < 25:
            status = 'w normie'
        elif bmi > 30:
            status = 'nadwaga'
        print("Twoje BMI wynosi {}. Czyli {}". format(bmi, status))
    
    
    
    @property
    def kto_tata(self):
        return "Moj tata to {father}".format(father = self.father)
       
    def __repr__(self):
        return "{} with name: {}".format(self.__class__, self.name)
    
    def __str__(self):
        if self.sex == None:
            return "{} {} syn {}".format(self.name, self.surname, self.father)
        else:
            return "{} {} corka {}".format(self.name, self.surname, self.father)
    @classmethod
    def kto_starszy(self, other):
        return self.age > other.age

In [133]:
class Rodzina_Lukasza_P(Rod):
    def __init__(self, *args):
        super().__init__(*args)

In [134]:
class Rodzina_Tadeo_P(Rod):
    def __init__(self, *args):
        super().__init__(*args)

In [135]:
tadeo = Rodzina_Tadeo_P('Tadeusz', 'Piatkowski', 68, '01.01.1950', 'Brzeg', 'Andrzej Piatkowski', 95, 175)

In [136]:
zofija = Rodzina_Tadeo_P('Zofia', 'Piatkowska', 66, '20.01.1952', 'Brzeg', 'Tadeusz Koziol', 70, 170)

In [137]:
aga = Rodzina_Tadeo_P('Agnieszka', 'Piatkowska', 42, '10.10.1976', 'Siedlce', 'Tadeusz Piatkowski', 65, 170)

In [138]:
jacek = Rodzina_Tadeo_P('Jacek', 'Piatkowski', 39, '08.09.1979', 'Siedlce', 'Tadeusz Piatkowski', 85, 181)

In [139]:
luki_syn = Rodzina_Tadeo_P('Lukasz', 'Piatkowski', 35, '12.12.1982', 'Siedlce', 'Tadeusz Piatkowski', 80, 180)

In [140]:
ania = Rodzina_Tadeo_P('Ania', 'Piatkowska', 29, '01.01.1987', 'Siedlce', 'Tadeusz Piatkowski', 59, 175)

In [141]:
tadek = Rodzina_Lukasza_P('Tadeusz', 'Piatkowski', 0, '18.08.2018', 'Warszawa', 'Lukasz Piatkowski', 6, 63)

In [142]:
kasia = Rodzina_Lukasza_P('Katarzyna', 'Piatkowska', 30, '27.12.1987', 'Siemiatycze', 'Slawomir Romaniuk', 75, 178, 'f')

In [143]:
luki = Rodzina_Lukasza_P('Lukasz', 'Piatkowski', 35, '12.12.1982', 'Siedlce', 'Tadeusz Piatkowski', 80, 180)

In [144]:
Rod.population

9

In [145]:
Rod.avg_bmi()

TypeError: avg_bmi() missing 1 required positional argument: 'self'

In [ ]:
Rodzina_Lukasza_P.__dict__

In [ ]:
str(tadeo)

In [ ]:
tadeo.check_bmi()

In [ ]:
tadek.kto_ty()

In [ ]:
repr(tadeo)

In [ ]:
tadek.check_bmi()

In [ ]:
tadeo.kto_ty()
tadek.kto_ty()

In [ ]:
luki.check_bmi()

In [ ]:
kasia.check_bmi()

In [ ]:
kasia.kto_ty()

In [ ]:
luki.kto_ty()

In [ ]:
repr(tadek)

In [ ]:
type(tadek)

In [ ]:
tadek.kto_tata

In [ ]:
kasia.kto_tata

In [ ]:
luki.kto_tata

In [ ]:
tadek.age == luki.age

In [ ]:
from faker import Faker
fake = Faker('pl_PL')
a = [fake.name() for i in range(10)]

In [ ]:
a

In [ ]:
str(tadek)

In [ ]:
str(kasia)

In [ ]:
str(Rodzina)

In [ ]:
type(tadek)

In [ ]:
import pickle

with open('tadek_model.pickle', 'wb') as file:
    pickle.dump(tadek, file)

In [ ]:
with open('tadek_model.pickle', 'rb') as file:
    readed_tadek = pickle.load(file)

In [ ]:
readed_tadek

In [ ]:
tadek

In [ ]:
readed_tadek.__dict__

In [ ]:
tadek.__dict__

In [ ]:
tadek

In [ ]:
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost/postgres')

In [ ]:
import psycopg2

# 127.0.0.1 = localhost
conn = psycopg2.connect("host=127.0.0.1 port=5432 dbname=postgres user=postgres password=postgres")
cur = conn.cursor()

cur.execute("SELECT * FROM user")

In [ ]:
cur.execute("CREATE TABLE rod_test4(id serial PRIMARY KEY, Imie varchar, Nazwisko varchar, Data_Urodzenia varchar, Wiek integer);")

In [ ]:
cur.execute("INSERT INTO rod_test4(Imie, Nazwisko, Data_urodzenia, Wiek) values('Lukasz', 'Piatkowski', '12.12.1982', 35);")

In [ ]:
#conn.rollback()
cur.execute("INSERT INTO rod_test4(Imie, Nazwisko, Data_urodzenia, Wiek) values('Tadeusz', 'Piatkowski', '18.08.2018', 0);")

In [ ]:
conn.commit()

In [ ]:
cur.execute("SELECT * FROM rod_test4")
cur.fetchall()

In [ ]:
cur.close()
conn.close()

In [ ]:
from sqlalchemy import create_engine
#engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost/postgres')

#engine_memory = create_engine('sqlite:///:memory:', echo=False)

engine_file = create_engine('sqlite:///test.sqlite', echo=True)
#you can check the file !strings test.sqlite

In [ ]:
# Important imports
from sqlalchemy import Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

In [ ]:
# Important declaration

Base = declarative_base()
Session = sessionmaker(bind=engine_file)

session = Session()

In [ ]:
# creation of class
class Rodzina4(Base):
    __tablename__ = 'Rodzina4'
    __table_args__ = {'extend_existing': True}
    id = Column(Integer, primary_key=True)
    Imie = Column(String(20), nullable=False) # Specify max length of varchar
    Nazwisko = Column(String)
    Data_Urodzenia = Column(String)
    Ojciec = Column(String)
    #children = relationship("Parent3")
    def __repr__(self): 
        return "{class_desc} object with id: {id}, Imie: {Imie}, Nazwisko: {Nazwisko}, Data_Urodzenia: {Data_Urodzenia}, Ojciec: {Ojciec}".format(
            class_desc=self.__class__,
            id=self.id,
            Imie=self.Imie,
            Nazwisko=self.Nazwisko,
            Data_Urodzenia=self.Data_Urodzenia,
            Ojciec=self.Ojciec
        )
'''   
class Parent3(Base):
    __tablename__ = 'Parent3'
    __table_args__ = {'extend_existing': True}
    id = Column(Integer, primary_key=True)
    Imie = Column(String(20), nullable=False) # Specify max length of varchar
    Nazwisko = Column(String)
    Data_Urodzenia = Column(String)
    Ojciec = Column(String)
    arent_id = Column(Integer, ForeignKey('Rodzina4.Ojciec'))
'''

In [ ]:
Base.metadata.create_all(engine_file)

In [ ]:
luki3 = Rodzina4(Imie='Lukasz', Nazwisko='Piatkowski', Data_Urodzenia='12.12.1982', Ojciec='Tadeusz Piatkowski')
kasia3 = Rodzina4(Imie='Katarzyna', Nazwisko='Piatkowska', Data_Urodzenia='27.12.1987', Ojciec='Slawomir Romaniuk')
tadek4 = Rodzina4(Imie='Tadeusz', Nazwisko='Piatkowski', Data_Urodzenia='18.08.2018', Ojciec='Lukasz Piatkowski')
tadek5 = Parent3(Imie='Tadeusz', Nazwisko='Piatkowski', Data_Urodzenia='01.01.1950', Ojciec='Andrzej Piatkowski')
zaoia2 = Parent3(Imie='Zofia', Nazwisko='Piatkowska', Data_Urodzenia='20.01.1952', Ojciec='Tadeusz Koziol')

In [ ]:
session.add_all([luki1, kasia1, tadek1])

In [ ]:
session.commit()

In [ ]:
session.query(Rodzina).all()

In [ ]:
from sqlalchemy import Column, Integer, String, ForeignKey
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship