In [148]:
class Rodzina:
    def __init__(self, name, surname, age, birth_date, birth_place, father, sex=None):
        self.name = name
        self.surname = surname
        self. age = age
        self.birth_date = birth_date
        self.birth_place = birth_place
        self.father = father
        self.sex = sex
    def kto_ty(self):
        if self.sex == None:
            print('Hej, jestem {name} {surname}, mam {age} lat. Urodziem sie {birth_date} w {birth_place}'.format(
            name = self.name,
            surname = self.surname,
            age = self.age,
            birth_date = self.birth_date,
            birth_place =  self.birth_place))
        else:
            print('Hej, jestem {name} {surname}, mam {age} lat. Urodzilam sie {birth_date} w {birth_place}'.format(
            name = self.name,
            surname = self.surname,
            age = self.age,
            birth_date = self.birth_date,
            birth_place =  self.birth_place))
            
    @property
    def kto_tata(self):
        return "Moj tata to {father}".format(father = self.father)
       
    def __repr__(self):
        return "{} with name: {}".format(self.__class__, self.name)
    
    def __str__(self):
        if self.sex == None:
            return "{} {} syn {}".format(self.name, self.surname, self.father)
        else:
            return "{} {} corka {}".format(self.name, self.surname, self.father)

In [149]:
tadek = Rodzina('Tadeusz', 'Piatkowski', 0, '18.08.2018', 'Warszawa', 'Lukasz Piatkowski')

In [150]:
kasia = Rodzina('Katarzyna', 'Piatkowska', 30, '27.12.1987', 'Siemiatycze', 'Slawomir Romaniuk', 'f')

In [151]:
luki = Rodzina('Lukasz', 'Piatkowski', 35, '12.12.1982', 'Siedlce', 'Tadeusz Piatkowski')

In [152]:
tadek.kto_ty()

Hej, jestem Tadeusz Piatkowski, mam 0 lat. Urodziem sie 18.08.2018 w Warszawa

In [153]:
kasia.kto_ty()

Hej, jestem Katarzyna Piatkowska, mam 30 lat. Urodzilam sie 27.12.1987 w Siemiatycze

In [154]:
luki.kto_ty()

Hej, jestem Lukasz Piatkowski, mam 35 lat. Urodziem sie 12.12.1982 w Siedlce

In [155]:
repr(tadek)

"<class '__main__.Rodzina'> with name: Tadeusz"

In [156]:
type(tadek)

__main__.Rodzina

In [157]:
tadek.kto_tata

'Moj tata to Lukasz Piatkowski'

In [158]:
kasia.kto_tata

'Moj tata to Slawomir Romaniuk'

In [159]:
luki.kto_tata

'Moj tata to Tadeusz Piatkowski'

In [160]:
from faker import Faker
fake = Faker('pl_PL')
a = [fake.name() for i in range(10)]

In [161]:
a

['pani Janina Gawliczek',
 'Janina Citko',
 'Ewelina Kulma',
 'Sandra Kościk',
 'Arkadiusz Hawrylak',
 'pani Janina Mędrala',
 'Szymon Głownia',
 'Ewa Basaj',
 'Radosław Jonak',
 'Mieszko Sporysz']

In [162]:
str(tadek)

'Tadeusz Piatkowski syn Lukasz Piatkowski'

In [163]:
str(kasia)

'Katarzyna Piatkowska corka Slawomir Romaniuk'

In [164]:
str(Rodzina)

"<class '__main__.Rodzina'>"

In [169]:
type(tadek)

__main__.Rodzina

In [172]:
import pickle

with open('tadek_model.pickle', 'wb') as file:
    pickle.dump(tadek, file)

In [174]:
with open('tadek_model.pickle', 'rb') as file:
    readed_tadek = pickle.load(file)

In [175]:
readed_tadek

<class '__main__.Rodzina'> with name: Tadeusz

In [176]:
tadek

<class '__main__.Rodzina'> with name: Tadeusz

In [178]:
readed_tadek.__dict__

{'age': 0,
 'birth_date': '18.08.2018',
 'birth_place': 'Warszawa',
 'father': 'Lukasz Piatkowski',
 'name': 'Tadeusz',
 'sex': None,
 'surname': 'Piatkowski'}

In [179]:
tadek.__dict__

{'age': 0,
 'birth_date': '18.08.2018',
 'birth_place': 'Warszawa',
 'father': 'Lukasz Piatkowski',
 'name': 'Tadeusz',
 'sex': None,
 'surname': 'Piatkowski'}