In [277]:
class Rod:
    def __init__(self, name, surname, age, birth_date, birth_place, father, weight, height, sex=None):
        self.name = name
        self.surname = surname
        self. age = age
        self.birth_date = birth_date
        self.birth_place = birth_place
        self.father = father
        self.sex = sex
        self.weight = weight
        self.height = height
    def kto_ty(self):
        if self.sex == None:
            print('Hej, jestem {name} {surname}, mam {age} lat. Urodziem sie {birth_date} w {birth_place}'.format(
            name = self.name,
            surname = self.surname,
            age = self.age,
            birth_date = self.birth_date,
            birth_place =  self.birth_place))
        else:
            print('Hej, jestem {name} {surname}, mam {age} lat. Urodzilam sie {birth_date} w {birth_place}'.format(
            name = self.name,
            surname = self.surname,
            age = self.age,
            birth_date = self.birth_date,
            birth_place =  self.birth_place))
    
    def check_bmi(self):
        bmi = round((self.weight/(self.height/100) ** 2), 1)
        
        if bmi <= 18.5:
            status = 'niedowaga'
        elif bmi > 18.5 and bmi < 25:
            status = 'w normie'
        elif bmi > 30:
            status = 'nadwaga'
        print("Twoje BMI wynosi {}. Czyli {}". format(bmi, status))
    
    @property
    def kto_tata(self):
        return "Moj tata to {father}".format(father = self.father)
       
    def __repr__(self):
        return "{} with name: {}".format(self.__class__, self.name)
    
    def __str__(self):
        if self.sex == None:
            return "{} {} syn {}".format(self.name, self.surname, self.father)
        else:
            return "{} {} corka {}".format(self.name, self.surname, self.father)
    @classmethod
    def kto_starszy(self, other):
        return self.age > other.age

In [278]:
class Rodzina_Lukasza_P(Rod):
    def __init__(self, *args):
        super().__init__(*args)

In [279]:
class Rodzina_Tadeo_P(Rod):
    def __init__(self, *args):
        super().__init__(*args)

In [280]:
tadeo = Rodzina_Tadeo_P('Tadeusz', 'Piatkowski', 68, '01.01.1950', 'Brzeg', 'Andrzej Piatkowski', 95, 175)

In [281]:
zofija = Rodzina_Tadeo_P('Zofia', 'Piatkowska', 66, '20.01.1952', 'Brzeg', 'Tadeusz Koziol', 70, 170)

In [282]:
aga = Rodzina_Tadeo_P('Agnieszka', 'Piatkowska', 42, '10.10.1976', 'Siedlce', 'Tadeusz Piatkowski', 65, 170)

In [283]:
jacek = Rodzina_Tadeo_P('Jacek', 'Piatkowski', 39, '08.09.1979', 'Siedlce', 'Tadeusz Piatkowski', 85, 181)

In [284]:
luki_syn = Rodzina_Tadeo_P('Lukasz', 'Piatkowski', 35, '12.12.1982', 'Siedlce', 'Tadeusz Piatkowski', 80, 180)

In [285]:
ania = Rodzina_Tadeo_P('Ania', 'Piatkowska', 29, '01.01.1987', 'Siedlce', 'Tadeusz Piatkowski', 59, 175)

In [286]:
tadek = Rodzina_Lukasza_P('Tadeusz', 'Piatkowski', 0, '18.08.2018', 'Warszawa', 'Lukasz Piatkowski', 6, 63)

In [287]:
kasia = Rodzina_Lukasza_P('Katarzyna', 'Piatkowska', 30, '27.12.1987', 'Siemiatycze', 'Slawomir Romaniuk', 75, 178, 'f')

In [288]:
luki = Rodzina_Lukasza_P('Lukasz', 'Piatkowski', 35, '12.12.1982', 'Siedlce', 'Tadeusz Piatkowski', 80, 180)

In [289]:
str(tadeo)

'Tadeusz Piatkowski syn Andrzej Piatkowski'

In [290]:
tadeo.check_bmi()

Twoje BMI wynosi 31.0. Czyli nadwaga

In [291]:
tadek.kto_ty()

Hej, jestem Tadeusz Piatkowski, mam 0 lat. Urodziem sie 18.08.2018 w Warszawa

In [292]:
repr(tadeo)

"<class '__main__.Rodzina_Tadeo_P'> with name: Tadeusz"

In [293]:
tadek.check_bmi()

Twoje BMI wynosi 15.1. Czyli niedowaga

In [294]:
tadeo.kto_ty()
tadek.kto_ty()

Hej, jestem Tadeusz Piatkowski, mam 68 lat. Urodziem sie 01.01.1950 w Brzeg
Hej, jestem Tadeusz Piatkowski, mam 0 lat. Urodziem sie 18.08.2018 w Warszawa

In [295]:
luki.check_bmi()

Twoje BMI wynosi 24.7. Czyli w normie

In [296]:
kasia.check_bmi()

Twoje BMI wynosi 23.7. Czyli w normie

In [297]:
kasia.kto_ty()

Hej, jestem Katarzyna Piatkowska, mam 30 lat. Urodzilam sie 27.12.1987 w Siemiatycze

In [298]:
luki.kto_ty()

Hej, jestem Lukasz Piatkowski, mam 35 lat. Urodziem sie 12.12.1982 w Siedlce

In [299]:
repr(tadek)

"<class '__main__.Rodzina_Lukasza_P'> with name: Tadeusz"

In [300]:
type(tadek)

__main__.Rodzina_Lukasza_P

In [301]:
tadek.kto_tata

'Moj tata to Lukasz Piatkowski'

In [302]:
kasia.kto_tata

'Moj tata to Slawomir Romaniuk'

In [303]:
luki.kto_tata

'Moj tata to Tadeusz Piatkowski'

In [304]:
tadek.age == luki.age

False

In [305]:
from faker import Faker
fake = Faker('pl_PL')
a = [fake.name() for i in range(10)]

In [306]:
a

['Aniela Pancerz',
 'Krystyna Działak',
 'Mariusz Burkiewicz',
 'Anna Maria Deryło',
 'Łukasz Piersa',
 'Monika Minkiewicz',
 'Kaja Lindner',
 'Dagmara Karol',
 'pan Gabriel Dankiewicz',
 'Franciszek Furga']

In [307]:
str(tadek)

'Tadeusz Piatkowski syn Lukasz Piatkowski'

In [308]:
str(kasia)

'Katarzyna Piatkowska corka Slawomir Romaniuk'

In [309]:
str(Rodzina)

"<class '__main__.Rodzina'>"

In [310]:
type(tadek)

__main__.Rodzina_Lukasza_P

In [311]:
import pickle

with open('tadek_model.pickle', 'wb') as file:
    pickle.dump(tadek, file)

In [312]:
with open('tadek_model.pickle', 'rb') as file:
    readed_tadek = pickle.load(file)

In [313]:
readed_tadek

<class '__main__.Rodzina_Lukasza_P'> with name: Tadeusz

In [314]:
tadek

<class '__main__.Rodzina_Lukasza_P'> with name: Tadeusz

In [315]:
readed_tadek.__dict__

{'age': 0,
 'birth_date': '18.08.2018',
 'birth_place': 'Warszawa',
 'father': 'Lukasz Piatkowski',
 'height': 63,
 'name': 'Tadeusz',
 'sex': None,
 'surname': 'Piatkowski',
 'weight': 6}

In [316]:
tadek.__dict__

{'age': 0,
 'birth_date': '18.08.2018',
 'birth_place': 'Warszawa',
 'father': 'Lukasz Piatkowski',
 'height': 63,
 'name': 'Tadeusz',
 'sex': None,
 'surname': 'Piatkowski',
 'weight': 6}

In [317]:
tadek

<class '__main__.Rodzina_Lukasza_P'> with name: Tadeusz

In [365]:
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost/postgres')

In [373]:
import psycopg2

# 127.0.0.1 = localhost
conn = psycopg2.connect("host=127.0.0.1 port=5432 dbname=postgres user=postgres password=postgres")
cur = conn.cursor()

cur.execute("SELECT * FROM user")

In [367]:
cur.execute("CREATE TABLE rod_test4(id serial PRIMARY KEY, Imie varchar, Nazwisko varchar, Data_Urodzenia varchar, Wiek integer);")

In [368]:
cur.execute("INSERT INTO rod_test4(Imie, Nazwisko, Data_urodzenia, Wiek) values('Lukasz', 'Piatkowski', '12.12.1982', 35);")

In [369]:
#conn.rollback()
cur.execute("INSERT INTO rod_test4(Imie, Nazwisko, Data_urodzenia, Wiek) values('Tadeusz', 'Piatkowski', '18.08.2018', 0);")

In [370]:
conn.commit()

In [374]:
cur.execute("SELECT * FROM rod_test4")
cur.fetchall()

[(1, 'Lukasz', 'Piatkowski', '12.12.1982', 35),
 (2, 'Tadeusz', 'Piatkowski', '18.08.2018', 0)]

In [346]:
cur.close()
conn.close()

In [396]:
from sqlalchemy import create_engine
#engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost/postgres')

#engine_memory = create_engine('sqlite:///:memory:', echo=False)

engine_file = create_engine('sqlite:///test.sqlite', echo=True)
#you can check the file !strings test.sqlite

In [397]:
# Important imports
from sqlalchemy import Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

In [398]:
# Important declaration

Base = declarative_base()
Session = sessionmaker(bind=engine_file)

session = Session()

In [416]:
# creation of class
class Rodzina4(Base):
    __tablename__ = 'Rodzina4'
    __table_args__ = {'extend_existing': True}
    id = Column(Integer, primary_key=True)
    Imie = Column(String(20), nullable=False) # Specify max length of varchar
    Nazwisko = Column(String)
    Data_Urodzenia = Column(String)
    Ojciec = Column(String)
    #children = relationship("Parent3")
    def __repr__(self): 
        return "{class_desc} object with id: {id}, Imie: {Imie}, Nazwisko: {Nazwisko}, Data_Urodzenia: {Data_Urodzenia}, Ojciec: {Ojciec}".format(
            class_desc=self.__class__,
            id=self.id,
            Imie=self.Imie,
            Nazwisko=self.Nazwisko,
            Data_Urodzenia=self.Data_Urodzenia,
            Ojciec=self.Ojciec
        )
'''   
class Parent3(Base):
    __tablename__ = 'Parent3'
    __table_args__ = {'extend_existing': True}
    id = Column(Integer, primary_key=True)
    Imie = Column(String(20), nullable=False) # Specify max length of varchar
    Nazwisko = Column(String)
    Data_Urodzenia = Column(String)
    Ojciec = Column(String)
    arent_id = Column(Integer, ForeignKey('Rodzina4.Ojciec'))
'''

/home/lukasz/anaconda3/lib/python3.6/site-packages/sqlalchemy/ext/declarative/clsregistry.py:120: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Rodzina4, and will be replaced in the string-lookup table.
  item.__name__

"   \nclass Parent3(Base):\n    __tablename__ = 'Parent3'\n    __table_args__ = {'extend_existing': True}\n    id = Column(Integer, primary_key=True)\n    Imie = Column(String(20), nullable=False) # Specify max length of varchar\n    Nazwisko = Column(String)\n    Data_Urodzenia = Column(String)\n    Ojciec = Column(String)\n    arent_id = Column(Integer, ForeignKey('Rodzina4.Ojciec'))\n"

In [414]:
Base.metadata.create_all(engine_file)

2018-11-01 20:40:40,517 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Rodzina4")
2018-11-01 20:40:40,522 INFO sqlalchemy.engine.base.Engine ()
2018-11-01 20:40:40,525 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Parent3")
2018-11-01 20:40:40,531 INFO sqlalchemy.engine.base.Engine ()

In [415]:
luki3 = Rodzina4(Imie='Lukasz', Nazwisko='Piatkowski', Data_Urodzenia='12.12.1982', Ojciec='Tadeusz Piatkowski')
kasia3 = Rodzina4(Imie='Katarzyna', Nazwisko='Piatkowska', Data_Urodzenia='27.12.1987', Ojciec='Slawomir Romaniuk')
tadek4 = Rodzina4(Imie='Tadeusz', Nazwisko='Piatkowski', Data_Urodzenia='18.08.2018', Ojciec='Lukasz Piatkowski')
tadek5 = Parent3(Imie='Tadeusz', Nazwisko='Piatkowski', Data_Urodzenia='01.01.1950', Ojciec='Andrzej Piatkowski')
zaoia2 = Parent3(Imie='Zofia', Nazwisko='Piatkowska', Data_Urodzenia='20.01.1952', Ojciec='Tadeusz Koziol')

InvalidRequestError: One or more mappers failed to initialize - can't proceed with initialization of other mappers. Triggering mapper: 'Mapper|Parent|Parent'. Original exception was: Could not determine join condition between parent/child tables on relationship Parent.children - there are no foreign keys linking these tables.  Ensure that referencing columns are associated with a ForeignKey or ForeignKeyConstraint, or specify a 'primaryjoin' expression.

In [331]:
session.add_all([luki1, kasia1, tadek1])

In [332]:
session.commit()

2018-11-01 18:23:39,416 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-01 18:23:39,421 INFO sqlalchemy.engine.base.Engine INSERT INTO "Rodzinka" ("Imie", "Nazwisko", "Data_Urodzenia", "Ojciec") VALUES (?, ?, ?, ?)
2018-11-01 18:23:39,424 INFO sqlalchemy.engine.base.Engine ('Lukasz', 'Piatkowski', '12.12.1982', 'Tadeusz Piatkowski')
2018-11-01 18:23:39,430 INFO sqlalchemy.engine.base.Engine INSERT INTO "Rodzinka" ("Imie", "Nazwisko", "Data_Urodzenia", "Ojciec") VALUES (?, ?, ?, ?)
2018-11-01 18:23:39,432 INFO sqlalchemy.engine.base.Engine ('Katarzyna', 'Piatkowska', '27.12.1987', 'Slawomir Romaniuk')
2018-11-01 18:23:39,439 INFO sqlalchemy.engine.base.Engine INSERT INTO "Rodzinka" ("Imie", "Nazwisko", "Data_Urodzenia", "Ojciec") VALUES (?, ?, ?, ?)
2018-11-01 18:23:39,441 INFO sqlalchemy.engine.base.Engine ('Tadeusz', 'Piatkowski', '18.08.2018', 'Lukasz Piatkowski')
2018-11-01 18:23:39,451 INFO sqlalchemy.engine.base.Engine COMMIT

In [333]:
session.query(Rodzina).all()

2018-11-01 18:23:39,496 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-01 18:23:39,504 INFO sqlalchemy.engine.base.Engine SELECT "Rodzinka".id AS "Rodzinka_id", "Rodzinka"."Imie" AS "Rodzinka_Imie", "Rodzinka"."Nazwisko" AS "Rodzinka_Nazwisko", "Rodzinka"."Data_Urodzenia" AS "Rodzinka_Data_Urodzenia", "Rodzinka"."Ojciec" AS "Rodzinka_Ojciec"
FROM "Rodzinka"
2018-11-01 18:23:39,508 INFO sqlalchemy.engine.base.Engine ()

[<class '__main__.Rodzina'> object with id: 1, Imie: Lukasz, Nazwisko: Piatkowski, Data_Urodzenia: 12.12.1982, Ojciec: Tadeusz Piatkowski,
 <class '__main__.Rodzina'> object with id: 2, Imie: Katarzyna, Nazwisko: Piatkowska, Data_Urodzenia: 27.12.1987, Ojciec: Slawomir Romaniuk,
 <class '__main__.Rodzina'> object with id: 3, Imie: Tadeusz, Nazwisko: Piatkowski, Data_Urodzenia: 18.08.2018, Ojciec: Lukasz Piatkowski,
 <class '__main__.Rodzina'> object with id: 4, Imie: Lukasz, Nazwisko: Piatkowski, Data_Urodzenia: 12.12.1982, Ojciec: Tadeusz Piatkowski,
 <class '__main__.Rodzina'> object with id: 5, Imie: Katarzyna, Nazwisko: Piatkowska, Data_Urodzenia: 27.12.1987, Ojciec: Slawomir Romaniuk,
 <class '__main__.Rodzina'> object with id: 6, Imie: Tadeusz, Nazwisko: Piatkowski, Data_Urodzenia: 18.08.2018, Ojciec: Lukasz Piatkowski]

In [375]:
from sqlalchemy import Column, Integer, String, ForeignKey
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship