In [288]:
class Rod:
    def __init__(self, name, surname, age, birth_date, birth_place, father, weight, height, sex=None):
        self.name = name
        self.surname = surname
        self. age = age
        self.birth_date = birth_date
        self.birth_place = birth_place
        self.father = father
        self.sex = sex
        self.weight = weight
        self.height = height
    def kto_ty(self):
        if self.sex == None:
            print('Hej, jestem {name} {surname}, mam {age} lat. Urodziem sie {birth_date} w {birth_place}'.format(
            name = self.name,
            surname = self.surname,
            age = self.age,
            birth_date = self.birth_date,
            birth_place =  self.birth_place))
        else:
            print('Hej, jestem {name} {surname}, mam {age} lat. Urodzilam sie {birth_date} w {birth_place}'.format(
            name = self.name,
            surname = self.surname,
            age = self.age,
            birth_date = self.birth_date,
            birth_place =  self.birth_place))
    
    def check_bmi(self):
        bmi = round((self.weight/(self.height/100) ** 2), 1)
        
        if bmi <= 18.5:
            status = 'niedowaga'
        elif bmi > 18.5 and bmi < 25:
            status = 'w normie'
        elif bmi > 30:
            status = 'nadwaga'
        print("Twoje BMI wynosi {}. Czyli {}". format(bmi, status))
    
    @property
    def kto_tata(self):
        return "Moj tata to {father}".format(father = self.father)
       
    def __repr__(self):
        return "{} with name: {}".format(self.__class__, self.name)
    
    def __str__(self):
        if self.sex == None:
            return "{} {} syn {}".format(self.name, self.surname, self.father)
        else:
            return "{} {} corka {}".format(self.name, self.surname, self.father)
    @classmethod
    def kto_starszy(self, other):
        return self.age > other.age

In [289]:
class Rodzina_Lukasza_P(Rod):
    def __init__(self, *args):
        super().__init__(*args)

In [290]:
class Rodzina_Tadeo_P(Rod):
    def __init__(self, *args):
        super().__init__(*args)

In [291]:
tadeo = Rodzina_Tadeo_P('Tadeusz', 'Piatkowski', 68, '01.01.1950', 'Brzeg', 'Andrzej Piatkowski', 95, 175)

In [292]:
zofija = Rodzina_Tadeo_P('Zofia', 'Piatkowska', 66, '20.01.1952', 'Brzeg', 'Tadeusz Koziol', 70, 170)

In [293]:
aga = Rodzina_Tadeo_P('Agnieszka', 'Piatkowska', 42, '10.10.1976', 'Siedlce', 'Tadeusz Piatkowski', 65, 170)

In [294]:
jacek = Rodzina_Tadeo_P('Jacek', 'Piatkowski', 39, '08.09.1979', 'Siedlce', 'Tadeusz Piatkowski', 85, 181)

In [295]:
luki_syn = Rodzina_Tadeo_P('Lukasz', 'Piatkowski', 35, '12.12.1982', 'Siedlce', 'Tadeusz Piatkowski', 80, 180)

In [296]:
ania = Rodzina_Tadeo_P('Ania', 'Piatkowska', 29, '01.01.1987', 'Siedlce', 'Tadeusz Piatkowski', 59, 175)

In [297]:
tadek = Rodzina_Lukasza_P('Tadeusz', 'Piatkowski', 0, '18.08.2018', 'Warszawa', 'Lukasz Piatkowski', 6, 63)

In [298]:
kasia = Rodzina_Lukasza_P('Katarzyna', 'Piatkowska', 30, '27.12.1987', 'Siemiatycze', 'Slawomir Romaniuk', 75, 178, 'f')

In [299]:
luki = Rodzina_Lukasza_P('Lukasz', 'Piatkowski', 35, '12.12.1982', 'Siedlce', 'Tadeusz Piatkowski', 80, 180)

In [329]:
str(tadeo)

'Tadeusz Piatkowski syn Andrzej Piatkowski'

In [332]:
tadeo.check_bmi()

Twoje BMI wynosi 31.0. Czyli nadwaga

In [300]:
tadek.kto_ty()

Hej, jestem Tadeusz Piatkowski, mam 0 lat. Urodziem sie 18.08.2018 w Warszawa

In [330]:
repr(tadeo)

"<class '__main__.Rodzina_Tadeo_P'> with name: Tadeusz"

In [301]:
tadek.check_bmi()

Twoje BMI wynosi 15.1. Czyli niedowaga

In [335]:
tadeo.kto_ty()
tadek.kto_ty()

Hej, jestem Tadeusz Piatkowski, mam 68 lat. Urodziem sie 01.01.1950 w Brzeg
Hej, jestem Tadeusz Piatkowski, mam 0 lat. Urodziem sie 18.08.2018 w Warszawa

In [302]:
luki.check_bmi()

Twoje BMI wynosi 24.7. Czyli w normie

In [303]:
kasia.check_bmi()

Twoje BMI wynosi 23.7. Czyli w normie

In [304]:
kasia.kto_ty()

Hej, jestem Katarzyna Piatkowska, mam 30 lat. Urodzilam sie 27.12.1987 w Siemiatycze

In [305]:
luki.kto_ty()

Hej, jestem Lukasz Piatkowski, mam 35 lat. Urodziem sie 12.12.1982 w Siedlce

In [306]:
repr(tadek)

"<class '__main__.Rodzina_Lukasza_P'> with name: Tadeusz"

In [307]:
type(tadek)

__main__.Rodzina_Lukasza_P

In [308]:
tadek.kto_tata

'Moj tata to Lukasz Piatkowski'

In [309]:
kasia.kto_tata

'Moj tata to Slawomir Romaniuk'

In [310]:
luki.kto_tata

'Moj tata to Tadeusz Piatkowski'

In [311]:
tadek.age == luki.age

False

In [312]:
from faker import Faker
fake = Faker('pl_PL')
a = [fake.name() for i in range(10)]

In [313]:
a

['Klara Kutek',
 'Liwia Hynek',
 'Dawid Dyda',
 'Maksymilian Borczyk',
 'Jacek Suchenek',
 'Eliza Miksza',
 'Monika Szmajda',
 'Jan Chaberek',
 'Oliwier Karkocha',
 'Filip Nesterowicz']

In [314]:
str(tadek)

'Tadeusz Piatkowski syn Lukasz Piatkowski'

In [315]:
str(kasia)

'Katarzyna Piatkowska corka Slawomir Romaniuk'

In [316]:
str(Rodzina)

"<class '__main__.Rodzina'>"

In [317]:
type(tadek)

__main__.Rodzina_Lukasza_P

In [318]:
import pickle

with open('tadek_model.pickle', 'wb') as file:
    pickle.dump(tadek, file)

In [319]:
with open('tadek_model.pickle', 'rb') as file:
    readed_tadek = pickle.load(file)

In [320]:
readed_tadek

<class '__main__.Rodzina_Lukasza_P'> with name: Tadeusz

In [321]:
tadek

<class '__main__.Rodzina_Lukasza_P'> with name: Tadeusz

In [322]:
readed_tadek.__dict__

{'age': 0,
 'birth_date': '18.08.2018',
 'birth_place': 'Warszawa',
 'father': 'Lukasz Piatkowski',
 'height': 63,
 'name': 'Tadeusz',
 'sex': None,
 'surname': 'Piatkowski',
 'weight': 6}

In [323]:
tadek.__dict__

{'age': 0,
 'birth_date': '18.08.2018',
 'birth_place': 'Warszawa',
 'father': 'Lukasz Piatkowski',
 'height': 63,
 'name': 'Tadeusz',
 'sex': None,
 'surname': 'Piatkowski',
 'weight': 6}

In [324]:
tadek

<class '__main__.Rodzina_Lukasza_P'> with name: Tadeusz

In [342]:
import psycopg2

# 127.0.0.1 = localhost
conn = psycopg2.connect("host=127.0.0.1 port=5432 dbname=postgres user=postgres password=postgres")
cur = conn.cursor()

cur.execute("SELECT * FROM user")

In [343]:
cur.execute("CREATE TABLE rod_test (id serial PRIMARY KEY, Imie varchar, Nazwisko varchar, Data_Urodzenia varchar, Wiek integer);")

In [357]:
cur.execute("INSERT INTO rod_test(Imie, Nazwiko, Data_urodzenia, Wiek) values('Lukasz', 'Piatkowski', '12.12.1982', 35);")

InternalError: current transaction is aborted, commands ignored until end of transaction block