In [1]:
import sqlalchemy
from sqlalchemy import create_engine
engine_file = create_engine('sqlite:///orm_nauka3.sqlite', echo=True)
from sqlalchemy import Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine_file)
session = Session()
from sqlalchemy import ForeignKey
from sqlalchemy.orm import relationship

In [2]:
class Blok1(Base):
    __tablename__ = 'blok1'
    __table_args__ = {'extend_existing': True}
    id = Column(Integer, primary_key=True)
    address = Column(String, nullable=False)
    mieszkanie1 = relationship("Mieszkania1", back_populates='blok_1')

class Mieszkania1(Base):
    __tablename__ = 'mieszkania1'
    __table_args__ = {'extend_existing': True}
    id = Column(Integer, primary_key=True)
    pietr = Column(Integer)
    powierzchnia = Column(Integer)
    liczba_pokoi = Column(Integer)
    blok_1_id = Column(Integer, ForeignKey('blok1.id'))
    blok_1 = relationship("Blok1", back_populates='mieszkanie1')

In [3]:
Base.metadata.create_all(engine_file)

2018-11-05 20:05:01,523 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2018-11-05 20:05:01,529 INFO sqlalchemy.engine.base.Engine ()
2018-11-05 20:05:01,532 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2018-11-05 20:05:01,535 INFO sqlalchemy.engine.base.Engine ()
2018-11-05 20:05:01,539 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("blok1")
2018-11-05 20:05:01,543 INFO sqlalchemy.engine.base.Engine ()
2018-11-05 20:05:01,548 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("mieszkania1")
2018-11-05 20:05:01,552 INFO sqlalchemy.engine.base.Engine ()
2018-11-05 20:05:01,560 INFO sqlalchemy.engine.base.Engine
CREATE TABLE blok1 (
	id INTEGER NOT NULL,
	address VARCHAR NOT NULL,
	PRIMARY KEY (id)
)


2018-11-05 20:05:01,568 INFO sqlalchemy.engine.base.Engine ()
2018-11-05 20:05:01,592 INFO sqlalchemy.engine.base.Engine COMMIT
2018-11-05 20:05:01,596 INFO sqlalchemy.engine.base.Engine
CREATE TABLE mieszkania1 (
	id INTEGER NOT NULL,
	pietr INTEGER,
	powierzchnia INTEGER,
	liczba_pokoi INTEGER,
	blok_1_id INTEGER,
	PRIMARY KEY (id),
	FOREIGN KEY(blok_1_id) REFERENCES blok1 (id)
)


2018-11-05 20:05:01,597 INFO sqlalchemy.engine.base.Engine ()
2018-11-05 20:05:01,650 INFO sqlalchemy.engine.base.Engine COMMIT

In [4]:
blok_JK = Blok1(address='Jana Kazimierza 53a')

In [5]:
m1 = Mieszkania1(pietr=0, powierzchnia=62, liczba_pokoi=3, blok_1=blok_JK)

In [6]:
m2 = Mieszkania1(pietr=1, powierzchnia=92, liczba_pokoi=5, blok_1=blok_JK)

In [8]:
session.add_all([blok_JK, m1, m2])

In [9]:
session.commit()

2018-11-05 20:14:19,950 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-11-05 20:14:19,961 INFO sqlalchemy.engine.base.Engine INSERT INTO blok1 (address) VALUES (?)
2018-11-05 20:14:19,968 INFO sqlalchemy.engine.base.Engine ('Jana Kazimierza 53a',)
2018-11-05 20:14:19,972 INFO sqlalchemy.engine.base.Engine INSERT INTO mieszkania1 (pietr, powierzchnia, liczba_pokoi, blok_1_id) VALUES (?, ?, ?, ?)
2018-11-05 20:14:19,981 INFO sqlalchemy.engine.base.Engine (0, 62, 3, 1)
2018-11-05 20:14:19,992 INFO sqlalchemy.engine.base.Engine INSERT INTO mieszkania1 (pietr, powierzchnia, liczba_pokoi, blok_1_id) VALUES (?, ?, ?, ?)
2018-11-05 20:14:19,996 INFO sqlalchemy.engine.base.Engine (1, 92, 5, 1)
2018-11-05 20:14:20,005 INFO sqlalchemy.engine.base.Engine COMMIT

In [14]:
m3 = Mieszkania1(pietr=9, powierzchnia=86, liczba_pokoi=4, blok_1=blok_JK)

In [15]:
session.add(m3)

In [16]:
session.commit()

2018-11-05 20:22:49,848 INFO sqlalchemy.engine.base.Engine INSERT INTO mieszkania1 (pietr, powierzchnia, liczba_pokoi, blok_1_id) VALUES (?, ?, ?, ?)
2018-11-05 20:22:49,881 INFO sqlalchemy.engine.base.Engine (9, 86, 4, 1)
2018-11-05 20:22:49,889 INFO sqlalchemy.engine.base.Engine COMMIT

In [18]:
session.query(Mieszkania1).count()

2018-11-05 20:27:16,079 INFO sqlalchemy.engine.base.Engine SELECT count(*) AS count_1
FROM (SELECT mieszkania1.id AS mieszkania1_id, mieszkania1.pietr AS mieszkania1_pietr, mieszkania1.powierzchnia AS mieszkania1_powierzchnia, mieszkania1.liczba_pokoi AS mieszkania1_liczba_pokoi, mieszkania1.blok_1_id AS mieszkania1_blok_1_id
FROM mieszkania1) AS anon_1
2018-11-05 20:27:16,095 INFO sqlalchemy.engine.base.Engine ()

3